
<div class="mb-4 grid grid-cols-1 gap-6 xl:grid-cols-2">
    <div class="relative flex flex-col bg-clip-border rounded-xl bg-white text-gray-700 shadow-md overflow-hidden xl:col-span-2">
      <div class="relative bg-clip-border rounded-xl overflow-hidden bg-transparent text-gray-700 shadow-none m-0 flex items-center justify-between p-6">
        <div>
          <h6 class="block antialiased tracking-normal font-sans text-base font-semibold leading-relaxed text-blue-gray-900 mb-1">Resultados y grafica</h6>

        </div>
        <button aria-expanded="false" aria-haspopup="menu" id=":r5:" class="relative middle none font-sans font-medium text-center uppercase transition-all disabled:opacity-50 disabled:shadow-none disabled:pointer-events-none w-8 max-w-[32px] h-8 max-h-[32px] rounded-lg text-xs text-blue-gray-500 hover:bg-blue-gray-500/10 active:bg-blue-gray-500/30" type="button">
          <span class="absolute top-1/2 left-1/2 transform -translate-y-1/2 -translate-x-1/2">
            <svg xmlns="http://www.w3.org/2000/svg" fill="currenColor" viewBox="0 0 24 24" stroke-width="3" stroke="currentColor" aria-hidden="true" class="h-6 w-6">
              <path stroke-linecap="round" stroke-linejoin="round" d="M12 6.75a.75.75 0 110-1.5.75.75 0 010 1.5zM12 12.75a.75.75 0 110-1.5.75.75 0 010 1.5zM12 18.75a.75.75 0 110-1.5.75.75 0 010 1.5z"></path>
            </svg>
          </span>
        </button>
      </div>
      <div class="p-6 overflow-x-scroll px-0 pt-0 pb-2">
        <table class="w-full min-w-[640px] table-auto">
          <thead>
            <tr>
              <th class="border-b border-blue-gray-50 py-3 px-6 text-left">
                <p class="block antialiased font-sans text-[11px] font-medium uppercase text-blue-gray-400">Capitulo</p>
              </th>
              <th class="border-b border-blue-gray-50 py-3 px-6 text-left">
                <p class="block antialiased font-sans text-[11px] font-medium uppercase text-blue-gray-400"># Preguntas</p>
              </th>
              <th class="border-b border-blue-gray-50 py-3 px-6 text-left">
                <p class="block antialiased font-sans text-[11px] font-medium uppercase text-blue-gray-400">Cumple</p>
              </th>
              <th class="border-b border-blue-gray-50 py-3 px-6 text-left">
                <p class="block antialiased font-sans text-[11px] font-medium uppercase text-blue-gray-400">Cumplen Parcialmente</p>
              </th>
              <th class="border-b border-blue-gray-50 py-3 px-6 text-left">
                <p class="block antialiased font-sans text-[11px] font-medium uppercase text-blue-gray-400">No Cumplen</p>
              </th>
              <th class="border-b border-blue-gray-50 py-3 px-6 text-left">
                <p class="block antialiased font-sans text-[11px] font-medium uppercase text-blue-gray-400">%C</p>
              </th>
              <th class="border-b border-blue-gray-50 py-3 px-6 text-left">
                <p class="block antialiased font-sans text-[11px] font-medium uppercase text-blue-gray-400">%PC</p>
              </th>
              <th class="border-b border-blue-gray-50 py-3 px-6 text-left">
                <p class="block antialiased font-sans text-[11px] font-medium uppercase text-blue-gray-400">%NC</p>
              </th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let repo of report">
              <td class="py-3 px-5 border-b border-blue-gray-50">
                <div class="flex items-center gap-4">
                  <p class="block antialiased font-sans text-sm leading-normal text-blue-gray-900 font-bold">{{ repo[0]}}</p>
                </div>
              </td>
              <td class="py-3 px-5 border-b border-blue-gray-50">
                <p class="block antialiased font-sans text-xs font-medium text-blue-gray-600"  >{{ repo[1]}}</p>
              </td>
              <td class="py-3 px-5 border-b border-blue-gray-50">
                <p class="block antialiased font-sans text-xs font-medium text-blue-gray-600">{{ repo[3]}}</p>
              </td>
              <td class="py-3 px-5 border-b border-blue-gray-50">
                <p class="block antialiased font-sans text-xs font-medium text-blue-gray-600">{{ repo[4]}}</p>
              </td>
              <td class="py-3 px-5 border-b border-blue-gray-50">
                <p class="block antialiased font-sans text-xs font-medium text-blue-gray-600">{{ repo[5]}}</p>
              </td>
              <td class="py-3 px-5 border-b border-blue-gray-50">
                <p class="block antialiased font-sans text-xs font-medium text-blue-gray-600">{{ (repo[3]/repo[1])*100-((repo[3]/repo[1])*100)%1 }}%</p>
              </td>
              <td class="py-3 px-5 border-b border-blue-gray-50">
                <p class="block antialiased font-sans text-xs font-medium text-blue-gray-600">{{ (repo[4]/repo[1])*100-((repo[4]/repo[1])*100)%1 }}%</p>
              </td>
              <td class="py-3 px-5 border-b border-blue-gray-50">
                <p class="block antialiased font-sans text-xs font-medium text-blue-gray-600"> {{ (repo[5]/repo[1])*100-((repo[5]/repo[1])*100)%1 }}%</p>
              </td>
            </tr>
          </tbody>
        </table>
      </div>

      <ngx-charts-polar-chart
      [view]="view"
      [scheme]="colorScheme"
      [legend]="legend"
      [showXAxisLabel]="showXAxisLabel"
      [showYAxisLabel]="showYAxisLabel"
      [xAxis]="xAxis"
      [yAxis]="yAxis"
      [xAxisLabel]="xAxisLabel"
      [yAxisLabel]="yAxisLabel"
      [autoScale]="autoScale"
      [yAxisMinScale]="yAxisMinScale"
      [results]="graphData"
      [rangeFillOpacity]="rangeFillOpacity"
      (select)="onSelect($event)">
    </ngx-charts-polar-chart>

    </div>
  </div>

